{% extends 'base.html' %}
{% load static %}


{% block title %}
  
{% endblock title %}


{% block body %}
  

  
  


  <div class="landing-hero">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center">
          <h2><b>PRESTOCKS</b></h2>
          <h1>Investing in stocks made easier.</h1>
          <p>Presctocks is an advanced platform for the prediction and recomentation of stocks.
            This platform serves the user with all the latest trends in stocks.</p>
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">Get Started</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

 

  <div class="landing-info-one landing-info-one-bg mtb100">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>An advanced platform for stock market analysis.</h2>
          <p>Prestocks is a financial portal for all the stocks listed in NSE. This platform predicts the price of a stock and based on the interest, various stocks are recomended.</p>
          <ul>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Technical Analysis</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Market Data</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Price Fluctuations</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Top Gainers and Losers</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Watchlisted Stocks Prediction</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Recomendation of Stocks</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Market depth</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="{% static 'assets/img/landing/dash-preview.png' %}" class="visible-mobile" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Here are a few reasons why <br> you should choose Prestocks</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets/img/landing/stroge.svg' %}" alt="">
            <h3>Secure Storage</h3>
            <p>All the watchlisted stocks are secured and a user can access them only if they are logged into the web application.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets/img/landing/backup.svg' %}" alt="">
            <h3>Live Market Analysis</h3>
            <p>This portal allows a user to keep track on the future predictions which makes it easier to invest at right time.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets/img/landing/managment.svg' %}" alt="">
            <h3>Stock Recomendation</h3>
            <p>Based on market analysis from top gainers, loosers and watchlisted stocks, best stocks are recomended.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-number">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>1870+</h2>
          <p>Stocks listed</p>
        </div>
        <div class="col-md-4">
          <h2>20+</h2>
          <p>NSE indexes
          </p>
        </div>
        <div class="col-md-4">
          <h2>10+</h2>
          <p>Chart Variations
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature landing-start">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Get started in a few steps</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets/img/landing/user.svg' %}" alt="">
            <span>1</span>
            <h3>Create an account </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets\img\landing\blackboard-graph-svgrepo-com.svg' %}" alt="">
            <span>
              2
            </span>
            <h3>Watchlist Stocks </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="{% static 'assets/img/landing/trade.svg' %}" alt="">
            <span>3</span>
            <h3>Start predicting 
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-sub">
    <div class="container">
      <div class="row"> 
        <div class="offset-md-1 col-md-10">
          <div class="landing-sub-content">
            <h2>Become a part of our community where analysing and investing in stocks has become easier.</h2>
            <a href="/register/">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  

{% endblock body %}


