{% extends 'base.html' %}


{% load static %}

{% block title %}

{% endblock title %}


{% block body %}
<div class="container">
    <table class="table mt-2s">
        <thead>
          <tr>
            <th>Index Name</th>
            <th> High</th>
            <th> Low</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
            
            {% for i in index  %}
                <tr>
                    <td> {{i.indexName}}</td>
                    <td> {{i.high}}</td>
                    <td> {{i.low}}</td>
                    <td> {{i.last}}</td>
                    <td> {{i.percChange}}</td>
                </tr>
                
            {% endfor %}
                
          
        </tbody>
      </table>
</div>
    {% endblock body %}